<div class="container">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <h3 class="text-center">
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </h3>
    <%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter) %>
  </div>
  <div class="col-xs-2"></div>
</div>
