<div class="container">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 text-center">
    <h3>Изменить карточку</h3>
    <% if @card.picture.present? %>
      <%= image_tag @card.picture.url %>
      <%= link_to "Удалить картинку", controller: "cards", action: "delete_picture", id: @card.id %>
    <% end %>
    <%= render "form", card: @card %>
  </div>
  <div class="col-xs-3"></div>
</div>
