<%= simple_form_for deck do |f| %>
  <%= f.input :description, as: :string, label: "Название колоды" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="text-center"><%= f.button :submit, value: "ОК" %></div>
<% end %>
